<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8">
   <title>{{ page.title }} - Slideshow Templates - Free Web Alternative to PowerPoint and Keynote in HTML, CSS 'n' JavaScript</title>
   <link rel="stylesheet" href="css/slideshow.css" type="text/css">
   <link rel="icon"       href="i/favicon.png"   type="image/png">
</head>
<body  style='margin: 0;'>

  {% include banner.html %}

<!-- wrap in container -->
<div style='margin: 6px;'>

  <div id="header">
    <span class='big'>Slideshow Templates</span>
    <span class='small'>Free Web Slideshow Templates in HTML, CSS 'n' JavaScript</span>
  </div>

  <div id="nav">
   
    <a href="index.html">Home</a> |
    <a href="http://groups.google.com/group/webslideshow">What's New? &middot; Forum (Questions? Comments?)</a> |
    <a href="https://github.com/slideshow-templates">Template Repos</a>

  </div>

    <div id="content">
      {{ content }}
      
      {% include editme.html %}
    </div>
</div>

</body>
</html>
